<section>
    <div class="flex flex-wrap text-center">
        <div class="w-full pt-4">
            <div>
                {% for social in site.social-menu %}
                <a href="{{social.link}}" target="_blank">
                    <button
                            class="bg-slate-100 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                            type="button">
                        <i class="fab {{social.icon}} text-blue-400"></i>
                    </button>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>